@import url(/styles/reset.css);
@import url(/styles/variables.css);
@import url(/Fonts/avenir_ff/stylesheet.css);

header,
main,
footer {
  display: flex;
  margin: auto auto;
  width: 1111px;
}

main,
footer {
  flex-direction: column;
}

body {
  font-family: var(--text-font);
}

h1 {
  font-family: var(--heading-font);
}

section {
  margin: 100px 0;
}

header {
  align-self: center;
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 50px auto;
}

.logo {
  position: relative;
  width: 50px;
  height: 45px;
}

.logo-purple-dot {
  background-color: var(--purple);
  position: absolute;
  width: 40%;
  height: 50%;
  bottom: 0;
  border-radius: 50%;
}

.logo-pink-pointer {
  background-color: var(--pink);
  position: absolute;
  width: 40%;
  height: 100%;
  right: 0;
  border-radius: 225%/100%;
}

nav, .request-demo {
    display: flex;
    align-items: center;
}

nav {
    width: 30%;
    justify-content: space-between;
}

nav > a {
    text-decoration: none;
    font-size: var(--text-size-s);
    font-weight: var(--light-weight-text);
    color: var(--gray);    
}

nav > a:first-child {
    font-weight: var(--very-heavy-weight-text);
    text-decoration: none;
    color: var(--dark-blue);
}

.request-demo {
    text-decoration: none;
    color: var(--dark-blue);
    font-weight: var(--very-heavy-weight-text);
    border-radius: 50%/111%;
    box-shadow: 0 5px 5px rgba(75, 93, 104, 0.1);
    padding: 2%;
    margin-left: 25%;
}

.entry-info {
  display: flex;
  width: 100%;
}

.entry-info-organize {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.entry-info-organize > h1 {
  font-weight: var(--heavy-weight-text);
  font-size: var(--text-size-xxl);
  width: 645px;
}

.entry-info-organize > p {
  font-weight: var(--light-weight-text);
  font-size: var(--text-size-m);
  line-height: var(--line-height);
  width: 380px;
  height: 120px;
  color: var(--gray);
}

.entry-info > img {
  position: relative;
  right: 280px;
  top: 120px;
}

.entry-info-organize > a {
  width: 20%;
  color: white;
  background-color: var(--purple);
  text-decoration: none;
  text-align: center;
  font-weight: var(--very-heavy-weight-text);
  font-size: var(--text-size-m);
  border-radius: 110%/270%;
  padding: 3%;
}

.more-about-us {
  display: flex;
  flex-direction: row;
  background-color: var(--light-pink);
  border-radius: 4.5%/10%;
}

.about-us-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.about-us-text > h1 {
  width: 75%;
  text-align: center;
  font-weight: var(--heavy-weight-text);
  font-size: var(--text-size-xl);
}

.about-us-text > p {
  width: 75%;
  color: var(--gray);
  font-weight: var(--light-weight-text);
  font-size: var(--text-size-m);
  line-height: var(--line-height);
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-info {
  text-align: center;
  margin-bottom: 15%;
}

.features-info > h1 {
  margin-top: 0;
  font-weight: var(--heavy-weight-text);
  font-size: var(--text-size-xl);
}

.features-info > p {
  margin: 0 auto;
  width: 65%;
  line-height: var(--line-height);
  font-size: var(--text-size-m);
  font-weight: var(--light-weight-text);
  color: var(--gray);
}

.features-offer {
  display: flex;
  justify-content: space-evenly;
  row-gap: 125px;
  flex-wrap: wrap;
}

.offer-arrangement {
  display: flex;
  position: relative;
  width: 40%;
  gap: 10%;
  
}

.offer-text {
  display: flex;
  flex-direction: column;
  gap: 10%;
}

.offer-text > h1 {
  margin-top: 25%;
}

.offer-text > p {
  height: 200px;
  font-size: var(--text-size-s);
  font-weight: var(--very-light-text);
  line-height: var(--line-height);
  color: var(--gray);
}

.offer-arrangement > img {
  margin-top: 18%;
  width: 200px;
  height: 200px;
}

.offer-background {
  position: absolute;
  z-index: -1;
  border-radius: 11%/14%;
  padding: 2%;
  height: 100%;
  width: 75%;
  left: 25%;
  transform: perspective(900px) rotateX(20deg);
  transform-origin: 100% 50%;
}

.first-offer, .second-offer, .third-offer, .fourth-offer {
  opacity: 0.1;
}

.first-offer {
  background-color: var(--sea);
}

.second-offer {
  background-color: var(--purple);
}

.third-offer {
  background-color: var(--pink);
}

.fourth-offer{
  background-color: var(--blue);
}