@import url(/styles/reset.css);
@import url(/styles/variables.css);
@import url(/Fonts/avenir_ff/stylesheet.css);

header,
main,
.footer-content {
  display: flex;
  margin: auto auto;
  width: 1111px;
}

main,
.footer-content {
  flex-direction: column;
}

body {
  background-color: #e5e5e5;
  font-family: var(--text-font);
}

h1 {
  font-family: var(--heading-font);
}

section {
  margin: 100px 0;
}

header {
  align-self: center;
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 50px auto;
}

.logo {
  position: relative;
  width: 50px;
  height: 45px;
}

.logo-purple-dot {
  background-color: var(--purple);
  position: absolute;
  width: 40%;
  height: 50%;
  bottom: 0;
  border-radius: 50%;
}

.logo-pink-pointer {
  background-color: var(--pink);
  position: absolute;
  width: 40%;
  height: 100%;
  right: 0;
  border-radius: 225%/100%;
}

nav,
.request-demo {
  display: flex;
  align-items: center;
}

nav {
  width: 30%;
  justify-content: space-between;
  margin-right: 25%;
}

nav > a {
  text-decoration: none;
  font-size: var(--text-size-s);
  font-weight: var(--light-weight-text);
  color: var(--gray);
}

nav > a:first-child {
  font-weight: var(--very-heavy-weight-text);
  text-decoration: none;
  color: var(--dark-blue);
}

.request-demo {
  text-decoration: none;
  background-color: white;
  color: var(--dark-blue);
  font-weight: var(--very-heavy-weight-text);
  border-radius: 50%/111%;
  box-shadow: 0 5px 5px rgba(75, 93, 104, 0.1);
  padding: 2%;
  gap: 15px;
}

.fa-arrow-right,
.fa-arrow-left {
  color: var(--purple);
}

.entry-info {
  display: flex;
  width: 100%;
}

.entry-info-organize {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.entry-info-organize > h1 {
  font-weight: var(--heavy-weight-text);
  font-size: var(--text-size-xxl);
  width: 645px;
}

.entry-info-organize > p {
  font-weight: var(--light-weight-text);
  font-size: var(--text-size-m);
  line-height: var(--line-height);
  width: 380px;
  height: 120px;
  color: var(--gray);
}

.entry-info > img {
  position: relative;
  right: 280px;
  top: 120px;
}

.entry-info-organize > a {
  width: 20%;
  color: white;
  background-color: var(--purple);
  text-decoration: none;
  text-align: center;
  font-weight: var(--very-heavy-weight-text);
  font-size: var(--text-size-m);
  border-radius: 110%/270%;
  padding: 3%;
}

.more-about-us {
  display: flex;
  flex-direction: row;
  background-color: var(--light-pink);
  border-radius: 4.5%/10%;
}

.about-us-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.about-us-text > h1 {
  width: 75%;
  text-align: center;
  font-weight: var(--heavy-weight-text);
  font-size: var(--text-size-xl);
}

.about-us-text > p {
  width: 75%;
  color: var(--gray);
  font-weight: var(--light-weight-text);
  font-size: var(--text-size-m);
  line-height: var(--line-height);
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-info {
  text-align: center;
  margin-bottom: 15%;
}

.features-info > h1 {
  margin-top: 0;
  font-weight: var(--heavy-weight-text);
  font-size: var(--text-size-xl);
}

.features-info > p {
  margin: 0 auto;
  width: 65%;
  line-height: var(--line-height);
  font-size: var(--text-size-m);
  font-weight: var(--light-weight-text);
  color: var(--gray);
}

.features-offer {
  display: flex;
  justify-content: space-evenly;
  row-gap: 125px;
  flex-wrap: wrap;
}

.offer-arrangement {
  display: flex;
  position: relative;
  width: 40%;
  gap: 10%;
}

.offer-text {
  display: flex;
  flex-direction: column;
  gap: 10%;
}

.offer-text > h1 {
  margin-top: 25%;
}

.offer-text > p {
  height: 200px;
  font-size: var(--text-size-s);
  font-weight: var(--very-light-text);
  line-height: var(--line-height);
  color: var(--gray);
}

.offer-text > a {
  display: flex;
  text-decoration: none;
  gap: 15px;
}

.offer-text > a > span {
  color: black;
  font-weight: var(--very-heavy-weight-text);
  font-size: var(--text-size-s);
}

.offer-arrangement > img {
  margin-top: 18%;
  width: 200px;
  height: 200px;
}

.offer-background {
  position: absolute;
  z-index: -1;
  border-radius: 11%/14%;
  padding: 2%;
  height: 100%;
  width: 75%;
  left: 25%;
  transform: perspective(900px) rotateX(20deg);
  transform-origin: 100% 50%;
}

.first-offer,
.second-offer,
.third-offer,
.fourth-offer {
  opacity: 0.1;
}

.first-offer {
  background-color: var(--sea);
}

.second-offer {
  background-color: var(--purple);
}

.third-offer {
  background-color: var(--pink);
}

.fourth-offer {
  background-color: var(--blue);
}

.testimonials-background {
  background-color: var(--purple);
  height: 700px;
  border-radius: 50px;
}

.testimonials-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.testimonials-area > h1 {
  margin: 100px 0 0 100px;
  color: white;
  font-weight: var(--heavy-weight-text);
  font-size: var(--text-size-xl);
  line-height: 130%;
}

.swiper {
  height: 50%;
  width: 85%;
  margin-left: 100px;
}

.slide {
  display: flex;
  height: 90%;
  width: 90%;
  background-color: white;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 20px 0 rgba(95, 65, 137, 0.3);
}

.slide-content {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0 70px;
}

.slide-content > img {
  height: 90px;
  border-radius: 50%;
}

.testimonial-main {
  display: flex;
  flex-direction: column;
}

.user-name {
  color: var(--dark-blue);
  font-weight: var(--fat-weight-text);
  font-size: var(--text-size-m);
  line-height: var(--line-height);
}

.user-position {
  color: var(--purple);
  font-weight: var(--light-text);
  font-size: var(--text-size-xs);
  line-height: var(--line-height);
  margin-bottom: 15px;
}

.user-info {
  color: var(--gray);
  font-weight: var(--very-light-text);
  font-size: var(--text-size-m);
  line-height: 180%;
  overflow: hidden;
}

.testimonial-control {
  display: flex;
  justify-content: space-between;
  margin: 0 50px 30px 100px;
}

.swiper-pagination {
  position: relative;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: auto;
  bottom: 0;
}

.swiper-pagination-bullet {
  background-color: white;
  width: 5px;
  height: 5px;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--pink);
  width: 10px;
  height: 10px;
}

.swiper-button-prev,
.swiper-button-next {
  position: relative;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.arrows {
  display: flex;
  gap: 25px;
}

.swiper-button-prev > .fa-arrow-left,
.swiper-button-next > .fa-arrow-right {
  color: white;
}

footer {
  border-top: 2px rgba(156, 105, 226, 0.3) solid;
}

.forwarding {
  display: flex;
  justify-content: space-between;
}

.forwarding-text > h1 {
  color: var(--dark-blue);
  font-weight: var(--heavy-weight-text);
  font-size: var(--text-size-xl);
  line-height: var(--line-height);
}

.forwarding-text > p {
  color: var(--gray);
  font-weight: var(--light-weight-text);
  font-size: var(--text-size-m);
  line-height: 160%;
}

.forwarding-buttons {
  display: flex;
  align-items: center;
}

.forwarding-buttons > .request-demo {
  justify-content: space-evenly;
}

.forwarding-buttons > .request-demo,
.learn-more-btn {
  width: 180px;
  height: 50px;
}

.learn-more-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--pink);
  font-weight: var(--fat-weight-text);
  font-size: var(--text-size-m);
  line-height: var(--line-height);
  text-decoration: none;
  border-radius: 30%/80%;
  padding: 3px;
  margin-right: 50px;
}

.general-info {
  display: flex;
  justify-content: space-between;
}

.bussines-info,
.about,
.help,
.social-media,
.about-forwards,
.help-forwards {
  display: flex;
  flex-direction: column;
}

.about > p,
.help > p,
.social-media > p {
  font-weight: var(--fat-weight-text);
  font-size: var(--text-size-s);
  line-height: var(--line-height);
}

.bussines-info {
  justify-content: space-evenly;
  color: var(--dark-blue);
}

.bussines-info-heading {
  display: flex;
  gap: 15px;
  align-items: center;
}

.bussines-info-heading > h1 {
  font-weight: var(--fat-weight-text);
  font-size: 20px;
  line-height: var(--line-height);
  margin: 0;
}

.bussines-info > address,
.bussines-info > p {
  font-weight: var(--light-weight-text);
  font-size: var(--text-size-s);
  letter-spacing: 0.01em;
  line-height: 180%;
}

.bussines-info > address {
  margin: 60px 0 10px 0;
}

.about,
.help,
.social-media {
  color: var(--dark-blue);
  gap: 25%;
}

.about-forwards > a,
.help-forwards > a {
  color: var(--dark-blue);
  text-decoration: none;
  font-weight: var(--very-light-text);
  font-size: var(--text-size-s);
  line-height: 250%;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.icons > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  text-decoration: none;
  color: white;
  background-color: #21235310;
  padding: 5px;
  border-radius: 50%;
}

.legal-info {
  display: flex;
  justify-content: space-between;
}

.legal-info > p {
  color: var(--dark-blue);
  font-weight: var(--very-light-text);
  font-size: var(--text-size-xxs);
  line-height: 180%;
  letter-spacing: 0.01em;
}

.legal-info > a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.fa-comment-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: var(--purple);
  background-color: #9c69e202;
  border-radius: 50%;
}
