:root{
    --pink:#F063B8;
    --light-pink:#F063B826;
    --purple: #9C69E2;
    --sea: #68C9BA;
    --blue: #2D9CBD;
    --heading-font: "Avenir LT Std";
    --text-font: helvetica;
    --fat-weight-text: 900;
    --very-heavy-weight-text: 800;
    --heavy-weight-text: 700;
    --medium-weight-text: 600;
    --light-weight-text: 500;
    --very-light-text: 400;
    --text-size-xxl: 80px;
    --text-size-xl: 40px;
    --text-size-l: 24px;
    -text-size-m: 18px;
    --text-size-s: 16px;
    --text-size-xs: 14px;
}
